<div style="font-family: Arial, sans-serif;">

    <h1 style="color: #d9b074; font-size: 4rem;">
        🌾 AgroLens
    </h1>

    <h3 style="color: #d9b074; font-size: 2.2rem;">
        AI-Powered Plant Health Assistant
    </h3>

    <h4 style="color: #ffffff; font-style: italic; font-weight: bold; font-size: rem;">
        Upload an image of your plant's leaves or crops to receive instant diagnosis and expert recommendations powered by advanced AI.
    </h4>

    <p style="color: #ffffff; font-style: italic; font-size: 0.8rem;">
        Tip: For best results, use well lit, focused images showing affected areas clearly.
    </p>

</div>
